<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/globalStyle.css">
  <title>onegenerated.pixel / Generative Art / Creative Coding</title>
</head>
<body>
  
  {% include '_includes/header.html' %}

  <section class="container post-list">
    {%- for post in collections.post.reverse() -%}
      <div class="single-post">
        <div class="image-container">
          <a href="{{ post.url }}">
            {% if post.data.thumbnailType == "img" %} 
              <img src="{{ post.data.thumbnailSrc }}" alt=""> 
            {% endif %}
            {% if post.data.thumbnailType == 'vid' %} 
              <video src="{{ post.data.thumbnailSrc }}" autoplay muted loop playsinline></video>
            {% endif %}
          </a>
        </div>
        <div class="info">
          <h3>{{ post.data.title }}</h3>  
          <p>{{ post.data.date.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</p>
          <p class="desc">{{ post.data.description }}</p>
          <ul class="links">
            <li><a href="{{ post.url }}">Details</a></li>
            {%- for link in post.data.links -%}
              <li><a href="{{ link.path }}">{{ link.title }}</a></li>
            {%- endfor -%}
        </ul>
        </div>
      </div>
    {%- endfor -%}
  </section>

</body>
</html>