---
tags: post
title: "Tunnels"
thumbnailSrc: "https://res.cloudinary.com/dgksx9vlc/video/upload/c_crop,h_600,w_600/v1627385805/createwithcode/tunnels/My_Movie_2_tdis00.mp4"
thumbnailType: "vid"
date: 2021-07-23
description: "Tunnel looping through variance of size with respect to time and space."
---

{% extends "_includes/postlayout.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="./script.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="./style.css">
{% endblock %}

{% block content %}
  <div class="container project-details">
    {% include "_includes/projectDescription.njk" %}
    <ul class="project-links">
      <li><a href="https://github.com/karanmhatre1/tunnels" target="_blank">GitHub Repo</a></li>
    </ul>
    <p>Use the controls panel floating on the top-right to change the graphics.</p>
    <canvas id="myCanvas"></canvas>
    <video width="100%" src="https://res.cloudinary.com/dgksx9vlc/video/upload/v1627385805/createwithcode/tunnels/My_Movie_2_tdis00.mp4" loop muted autoplay></video>
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627390251/createwithcode/tunnels/A4_-_11_mqp532.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627390251/createwithcode/tunnels/A4_-_9_ouzwob.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627390251/createwithcode/tunnels/A4_-_10_apmvuw.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627390266/createwithcode/tunnels/A4_-_12_e6g6yy.png" alt="">
  </div>
{% endblock %}