---
tags: post
title: "Terrain"
thumbnailSrc: "https://res.cloudinary.com/dgksx9vlc/video/upload/v1627386427/createwithcode/terrain/Comp_1_qbl55a.mp4"
thumbnailType: "vid"
date: 2021-07-24
description: "Generative Maps and terrains. Start a point off screen towards the top of the canvas. Move in an adhoc manner towards the bottom. Turn and come back upwards."
---

{% extends "_includes/postlayout.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="./script.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="./style.css">
{% endblock %}

{% block content %}
  <div class="container project-details">
    
    {% include "_includes/projectDescription.njk" %}
    
    <ul class="project-links">
      <li><a href="https://github.com/karanmhatre1/Terrain">GitHub Repo</a></li>
    </ul>
    <p>Press [R] to regenerate. Press [P] to download PNG.</p>
    <canvas id="myCanvas"></canvas>
    <p>Below are four posters created with outputs from the above sketch.</p>
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627385111/createwithcode/terrain/A4_-_22_cq4y8r.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627385111/createwithcode/terrain/A4_-_23_bti1sj.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627385111/createwithcode/terrain/A4_-_21_mlbwlv.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627385111/createwithcode/terrain/A4_-_24_kbx2mw.png" alt="">
  </div>
{% endblock %}