---
tags: post
title: "Character Stretch"
thumbnailSrc: "https://res.cloudinary.com/dgksx9vlc/video/upload/c_scale,w_584/v1627449757/createwithcode/character-stretch/Screen_Recording_2021-07-28_at_10.43.12_AM_r97h1m.mp4"
thumbnailType: "vid"
date: 2021-07-19
description: "Exploration of the letter 'A' through manipulation of its height, width, and crossbar position. Use numbers 1-8 on your keyboard to control various characteristics of the letter 'A'."
---

{% extends "_includes/postlayout.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="./script.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="./style.css">
{% endblock %}

{% block content %}
  <div class="container project-details">
    
    {% include "_includes/projectDescription.njk" %}

    <p>Press [1-8] keys to explore variations. Alteratively, use the controls on the top-right of the screen.</p>
    <canvas id="myCanvas"></canvas>
    <p>Made a version that works with the leapmotion. And hooked up some synth sounds for added effects.</p>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WeMRiTb77NE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
{% endblock %}