---
tags: post
title: "Organic Threads"
thumbnailSrc: "https://res.cloudinary.com/dgksx9vlc/video/upload/c_scale,h_626/v1627395998/createwithcode/flower-3/Screen_Recording_2021-07-27_at_7.33.41_PM_qiiuqq.mp4"
thumbnailType: "vid"
date: 2021-07-28
description: "Generative threads branching out from the center and growing with variance over time. Start point, size, and end point is variant."
---

{% extends "_includes/postlayout.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="./script.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="./style.css">
{% endblock %}

{% block content %}
  <div class="container project-details">
    
    {% include "_includes/projectDescription.njk" %}
    
    <ul class="project-links">
      <li><a href="https://github.com/karanmhatre1/organic-threads"  target="_blank">GitHub Repo</a></li>
      <li><a href="/organic-threads-fs">Fullscreen View</a></li>
    </ul>
    <p>Press [R] to regenerate. Press [P] to download PNG.</p>
    <canvas id="myCanvas"></canvas>
    <p>Below are four posters created with outputs from the above sketch.</p>
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396103/createwithcode/flower-3/A4_-_25_eqmefi.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396097/createwithcode/flower-3/A4_-_26_dmbvsk.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396005/createwithcode/flower-3/A4_-_28_ugxfob.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396004/createwithcode/flower-3/A4_-_27_v6zohq.png" alt="">
  </div>
{% endblock %}