---
tags: post
title: "Flowers"
thumbnailSrc: "https://res.cloudinary.com/dgksx9vlc/video/upload/c_scale,h_596/v1627398564/createwithcode/flower-1/Screen_Recording_2021-07-27_at_7.16.51_PM_m8vtmb.mp4"
thumbnailType: "vid"
date: 2021-07-26
description: "Generative flowers using outward scoping dots of decreasing radii. Representing vibrant colours of infinite generated flowers."
---

{% extends "_includes/postlayout.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="./script.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="./style.css">
{% endblock %}

{% block content %}
  <div class="container project-details">
    
    {% include "_includes/projectDescription.njk" %}
    
    <ul class="project-links">
      <li><a href="https://github.com/karanmhatre1/generative-flowers" target="_blank">GitHub Repo</a></li>
    </ul>
    <p>Press [P] to download SVG. Please wait a bit after press [P], cause it takes a while to create the SVG.</p>
    <canvas id="myCanvas"></canvas>
    <p>Below are four posters created with outputs from the above sketch.</p>
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396092/createwithcode/flower-1/A4_-_32_s9mikl.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396060/createwithcode/flower-1/A4_-_30_sqoy1c.png" alt="">
    <img src="https://res.cloudinary.com/dgksx9vlc/image/upload/v1627396017/createwithcode/flower-1/A4_-_29_k9ni1v.png" alt="">
  </div>
{% endblock %}