---
tags: post
title: "Colors Beats"
thumbnailSrc: "https://res.cloudinary.com/dgksx9vlc/video/upload/v1627453831/createwithcode/color%20beat/color-beats_xkdf42.mov"
thumbnailType: "vid"
date: 2021-07-21
description: "Given control over the scale, pitch, note sequencing, and order, the program has laid out controls in the form of shapes on the canvas"
---

{% extends "_includes/postlayout.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="./script.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="./style.css">
{% endblock %}

{% block content %}
  <div class="container project-details">
    
    {% include "_includes/projectDescription.njk" %}

    <p><b>Click any of the shapes in the sketch to activate a beat. Refresh the page for a new set of beats.</b></p>
    <canvas id="myCanvas"></canvas>
  </div>
{% endblock %}