body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
}

ul, h1, h2, h3 {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {  color: inherit; }

header h1 a {
  text-decoration: none;
}

h1 { font-size: 24px; }
h2 { font-size: 32px; }
h3 { font-size: 18px; }

p {
  max-width: 600px;
  margin: 14px 0;
  line-height: 150%;
}

.project-details p {
  max-width: 600px;
}

.container {
  max-width: 500px;
  padding: 0 100px;
}

.container.post-list {
  padding-bottom: 50px;
}

.about-section img {
  width: 100%;
  margin-bottom: 50px;
}

.section {
  margin-bottom: 50px;
}

header.container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header ul {
  display: flex;
  gap: 30px;
}

/* single post */

.single-post {
  margin-bottom: 50px;
}

.single-post p {
  margin: 0;
  padding: 0;
}

.single-post .image-container img, .single-post .image-container video  {
  width: 100%;
}

.single-post .image-container {
  margin-bottom: 12px;
}

.single-post p.desc {
  margin: 10px 0;
}
/* single post */

.info .links {
  display: flex;
  gap: 18px;
}

.project-links {
  color: #0000FF;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.project-links li {
  margin-bottom: 6px;
}

#myCanvas {
  margin-bottom: 50px;
}

.project-details img, .project-details video {
  width: 100%;
  margin-bottom: 50px;
}

.project-details p {
  margin-bottom: 25px;
}

.project-details iframe {
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }

  header.container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .single-post {
    max-width: 100%;
  }

  header ul {
    display: block;
  }

  header ul li {
    margin-bottom: 10px;
  }

  .container.project-details img, .container.project-details video {
    max-width: 100%;
  }
}

