body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #111;
  background-color: #f9f9f9;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
}

header h1 a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 32px;
  margin-bottom: 0;
}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

p {
  margin: 14px 0;
  line-height: 150%;
}

.project-details p {
  max-width: 600px;
}

.container {
  max-width: 900px;
  padding: 0 100px;
}

.about-section img {
  max-width: 600px;
  margin-top: 50px;
}

header.container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header ul {
  display: flex;
  gap: 30px;
}

.single-post {
  margin-bottom: 50px;
  max-width: 400px;
}

.single-post .image-container img, .single-post .image-container video  {
  width: 100%;
}

.info .links {
  display: flex;
  gap: 18px;
}

.project-links {
  color: #0000FF;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.project-links li {
  margin-bottom: 6px;
}

#myCanvas {
  margin-bottom: 50px;
}

.project-details img, .project-details video {
  margin-bottom: 50px;
}

.project-details p {
  margin-bottom: 25px;
}

.project-details iframe {
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }

  header.container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .single-post {
    max-width: 100%;
  }

  header ul {
    display: block;
  }

  header ul li {
    margin-bottom: 10px;
  }
}

